@{
    ViewData["Title"] = "Historial";
}

<div class="container mt-5">
    <div class="row">
        <div class="col d-flex float-right">
            <a asp-controller="Empleados" asp-action="Index">&leftarrow; Regresar</a>
        </div>
    </div>
    <h1>Historial de ingresos</h1>
   <div class="row">

   </div>
   <table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>IdEmpleado</th>
            <th>Fecha Ingreso</th>
            <th>Fecha Salida</th>
            <th>Observaciones</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @{int numRow = 1;}
        @foreach(var row in Model){
            <tr>
                <td>@numRow</td>
                <td>@row.Id</td>
                <td>@row.IdEmpleado</td>
                <td>@row.FechaIngreso</td>
                <td>@row.FechaSalida</td>
                <td>@row.Observaciones</td>
                <td><a asp-controller="Historial" asp-action="Editar" asp-route.id="@row.Id" class="btn btn-sm btn-primary">Editar Observacion</a></td>
            </tr>
            numRow++;
        }
    </tbody>

   </table>

</div>